# Introduction To Pandas
-------------------------

Pandas is a Python library used for data manipulation and analysis. 
It provides powerful data structures, primarily DataFrame and Series, for handling structured data.

In [1]:
# Install pandas

!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In pandas documentation, it is standard practice to import the library using the alias pd, and this convention is assumed throughout all examples.

In [54]:
#Import pandas library
import pandas as pd

In [55]:
# Check the version of the pandas
print(pd.__version__)

2.1.4

I want to store passenger data of the df. Creating a columns name(Characters), age(int) and gender(male, female)

In [56]:
# To manually store data in a table, create a DataFrame
df = pd.DataFrame({
    'Name':  ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth"],
    'Age': [22, 35, 58],
    'Gender':["male", "male", "female"]
})

df

                       Name  Age  Gender
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [57]:
df['Age']   # Display specific column

0    22
1    35
2    58
Name: Age, dtype: int64

A pandas Series has no column labels, as it represents a single column of data from a DataFrame. However, it does have row labels (known as the index), which identify each data point.

## Basic Data Structure in Pandas

#### 1. Series:
A Series is a one-dimensional labeled array that can hold any data type 
(integers, strings, floats, etc.).

**Size Mutable:** 
- A Series is not easily resizable (size-mutable) like a DataFrame.
- You cannot directly add or remove elements (rows) in a Series.
- To change size, you must reassign or use methods that return a new Series.
- You can modify existing values in a Series without changing its size.

In [58]:
# Creating Series
series = pd.Series([11,22,33,44,55])

# Reassigning to add an element
ser = pd.concat([series, pd.Series([66])], ignore_index= True)
print(ser)

0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64

### Homogeneous

A Series is homogeneous by nature, meaning that all elements in a pandas Series are of 
the same data type.
    
Although the Series itself can hold different types of data across different instances, 
within a single Series, all elements will be cast to the same type if possible.

In [59]:
ser = pd.Series([1, 'Alice', 3.5])  # Mixed data types

print(ser)
print(ser.dtypes)  # Checking the data type

0        1
1    Alice
2      3.5
dtype: object
object

#### 2. DataFrame: 
A DataFrame is a two-dimensional, **size-mutable**, and potentially 
**heterogeneous** tabular data structure with labeled axes (rows and columns).

_Note_: **heterogeneous** means that it can hold different data types in different columns.

In [60]:
# Creating Own DataFrames:
data = {"Name":["Jhon","Peter","Lisa"],      # String
        "Age":[24,27,30],                    # integer
        "Salary":[25000.0,30000.0,35000.0]}  #Float   
df = pd.DataFrame(data)
print(df)

    Name  Age   Salary
0   Jhon   24  25000.0
1  Peter   27  30000.0
2   Lisa   30  35000.0

**Size-mutuable:** means that the number of rows and columns in a pandas DataFrame can be 
changed after its creation.

We can: 
1. Add new rows and columns.
2. Remove existing rows and columns

In [61]:
df = pd.DataFrame({'A':[1,2,3,4], 'B':[11,12,13,14]})

#Adding new column
df['C'] = [21,22,23,24]

#Removing column A
df.drop('A',axis = 1, inplace = True)                          # axis= 1 means column and axis = 0 means row

print(df)

    B   C
0  11  21
1  12  22
2  13  23
3  14  24

### REMEMBER

- Import the package, aka import pandas as pd

- A table of data is stored as a pandas DataFrame

- Each column in a DataFrame is a Series

- You can do things by applying a method to a DataFrame or Series

_______________________________________________________________________________________________________________________________________________________

## Loading Data:

**How do I read and write tabular data?**

One of the primary uses of pandas is loading data into a DataFrame from various formats like CSV, Excel, JSON, etc.

- Pandas versatility: Supports multiple file formats or data sources natively.

- Common formats: Include CSV, Excel, SQL, JSON, Parquet, etc.

- Prefix convention: Each file format or source has a corresponding function with the prefix read_*.

- Examples: read_excel(), read_json().

In [12]:
# Loading csv(comma separated values) file
import pandas as pd
data1 = pd.read_csv("C:/Users/hp/Desktop/Customers_Data.csv",encoding='latin-1')
print(data1)

       CustomerKey Prefix  FirstName LastName   BirthDate MaritalStatus  \
0            11000    MR.        JON     YANG    4/8/1966             M
1            11001    MR.     EUGENE    HUANG   5/14/1965             S
2            11002    MR.      RUBEN   TORRES   8/12/1965             M
3            11003    MS.    CHRISTY      ZHU   2/15/1968             S
4            11004   MRS.  ELIZABETH  JOHNSON    8/8/1968             S
...            ...    ...        ...      ...         ...           ...
18143        29479    MR.      TOMMY     TANG    7/4/1958             M
18144        29480   MRS.       NINA     RAJI  11/10/1960             S
18145        29481    MR.       IVAN     SURI    1/5/1960             S
18146        29482    MR.    CLAYTON    ZHANG    3/5/1959             M
18147        29483    MR.      JÉSUS  NAVARRO   12/8/1959             M

      Gender                    EmailAddress AnnualIncome  TotalChildren  \
0          M       jon24@adventure-works.com     $90,000               2
1          M    eugene10@adventure-works.com     $60,000               3
2          M     ruben35@adventure-works.com     $60,000               3
3          F   christy12@adventure-works.com     $70,000               0
4          F  elizabeth5@adventure-works.com     $80,000               5
...      ...                             ...          ...            ...
18143      M      tommy2@adventure-works.com     $30,000               1
18144      F      nina21@adventure-works.com     $30,000               3
18145      M       ivan0@adventure-works.com     $30,000               3
18146      M    clayton0@adventure-works.com     $30,000               3
18147      M      jésus9@adventure-works.com     $30,000               0

        EducationLevel    Occupation HomeOwner
0            Bachelors  Professional         Y
1            Bachelors  Professional         N
2            Bachelors  Professional         Y
3            Bachelors  Professional         N
4            Bachelors  Professional         Y
...                ...           ...       ...
18143  Graduate Degree      Clerical         Y
18144  Graduate Degree      Clerical         Y
18145  Graduate Degree      Clerical         N
18146        Bachelors      Clerical         Y
18147        Bachelors      Clerical         Y

[18148 rows x 13 columns]

In [63]:
# Loading Excel file
data = pd.read_excel("C:/Users/hp/Desktop/Data Analyst/Excel FIle/ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

**to_string()**: function is used to print entire data

In [64]:
print(data.to_string())

       EEID             Full Name                       Job Title       Department           Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  Bonus %        Country            City  Exit Date
0    E02387           Emily Davis                      Sr. Manger               IT  Research & Development  Female      Black   55 2016-04-08         141604     0.15  United States         Seattle 2021-10-16
1    E04105         Theodore Dinh             Technical Architect               IT           Manufacturing    Male      Asian   59 1997-11-29          99975     0.00          China       Chongqing        NaT
2    E02572          Luna Sanders                        Director          Finance     Speciality Products  Female  Caucasian   50 2006-10-26         163099     0.20  United States         Chicago        NaT
3    E02832       Penelope Jordan        Computer Systems Manager               IT           Manufacturing  Female  Caucasian   26 2019-09-27          84913     0.07  United States         Chicago        NaT
4    E01639             Austin Vo                     Sr. Analyst          Finance           Manufacturing    Male      Asian   55 1995-11-20          95409     0.00  United States         Phoenix        NaT
5    E00644          Joshua Gupta          Account Representative            Sales               Corporate    Male      Asian   57 2017-01-24          50994     0.00          China       Chongqing        NaT
6    E01550           Ruby Barnes                         Manager               IT               Corporate  Female  Caucasian   27 2020-07-01         119746     0.10  United States         Phoenix        NaT
7    E04332           Luke Martin                         Analyst          Finance           Manufacturing    Male      Black   25 2020-05-16          41336     0.00  United States           Miami 2021-05-20
8    E04533         Easton Bailey                         Manager       Accounting           Manufacturing    Male  Caucasian   29 2019-01-25         113527     0.06  United States          Austin        NaT
9    E03838       Madeline Walker                     Sr. Analyst          Finance     Speciality Products  Female  Caucasian   34 2018-06-13          77203     0.00  United States         Chicago        NaT
10   E00591          Savannah Ali                      Sr. Manger  Human Resources           Manufacturing  Female      Asian   36 2009-02-11         157333     0.15  United States           Miami        NaT
11   E03344         Camila Rogers               Controls Engineer      Engineering     Speciality Products  Female  Caucasian   27 2021-10-21         109851     0.00  United States         Seattle        NaT
12   E00530             Eli Jones                         Manager  Human Resources           Manufacturing    Male  Caucasian   59 1999-03-14         105086     0.09  United States          Austin        NaT
13   E04239          Everleigh Ng                      Sr. Manger          Finance  Research & Development  Female      Asian   51 2021-06-10         146742     0.10          China        Shanghai        NaT
14   E03496           Robert Yang                     Sr. Analyst       Accounting     Speciality Products    Male      Asian   31 2017-11-04          97078     0.00  United States          Austin 2020-03-09
15   E00549           Isabella Xi                  Vice President        Marketing  Research & Development  Female      Asian   41 2013-03-13         249270     0.30  United States         Seattle        NaT
16   E00163          Bella Powell                        Director          Finance  Research & Development  Female      Black   65 2002-03-04         175837     0.20  United States         Phoenix        NaT
17   E00884          Camila Silva                      Sr. Manger        Marketing     Speciality Products  Female     Latino   64 2003-12-01         154828     0.13  United States         Seattle        NaT
18   E04116          David Barnes                        Director               IT               Corporate    Male  Caucasian   64 2013-11-03         186503     0.24  United States        Columbus        NaT
19   E04625             Adam Dang                        Director            Sales  Research & Development    Male      Asian   45 2002-07-09         166331     0.18          China       Chongqing        NaT
20   E03680        Elias Alvarado                      Sr. Manger               IT           Manufacturing    Male     Latino   56 2012-01-09         146140     0.10         Brazil          Manaus        NaT
21   E04732            Eva Rivera                        Director            Sales           Manufacturing  Female     Latino   36 2021-04-02         151703     0.21  United States           Miami        NaT
22   E03484          Logan Rivera                        Director               IT  Research & Development    Male     Latino   59 2002-05-24         172787     0.28         Brazil  Rio de Janerio        NaT
23   E00671        Leonardo Dixon                         Analyst            Sales     Speciality Products    Male  Caucasian   37 2019-09-05          49998     0.00  United States         Seattle        NaT
24   E02071             Mateo Her                  Vice President            Sales     Speciality Products    Male      Asian   44 2014-03-02         207172     0.31          China       Chongqing        NaT
25   E02206        Jose Henderson                        Director  Human Resources     Speciality Products    Male      Black   41 2015-04-17         152239     0.23  United States        Columbus        NaT
26   E04545         Abigail Mejia                Quality Engineer      Engineering               Corporate  Female     Latino   56 2005-02-05          98581     0.00         Brazil  Rio de Janerio        NaT
27   E00154            Wyatt Chin                  Vice President      Engineering     Speciality Products    Male      Asian   43 2004-06-07         246231     0.31  United States         Seattle        NaT
28   E03343             Carson Lu             Engineering Manager      Engineering     Speciality Products    Male      Asian   64 1996-12-04          99354     0.12          China         Beijing        NaT
29   E00304            Dylan Choi                  Vice President               IT               Corporate    Male      Asian   63 2012-05-11         231141     0.34          China         Beijing        NaT
30   E02594         Ezekiel Kumar                  IT Coordinator               IT  Research & Development    Male      Asian   28 2017-06-25          54775     0.00  United States        Columbus        NaT
31   E00402        Dominic Guzman                         Analyst          Finance           Manufacturing    Male     Latino   65 2004-05-16          55499     0.00         Brazil          Manaus        NaT
32   E01994          Angel Powell                      Analyst II            Sales  Research & Development    Male  Caucasian   61 2008-07-11          66521     0.00  United States         Seattle        NaT
33   E03549              Mateo Vu          Account Representative            Sales     Speciality Products    Male      Asian   30 2016-09-29          59100     0.00          China       Chongqing        NaT
34   E03247      Caroline Jenkins                         Analyst          Finance  Research & Development  Female  Caucasian   27 2018-05-06          49011     0.00  United States         Chicago        NaT
35   E02074            Nora Brown            Enterprise Architect               IT           Manufacturing  Female  Caucasian   32 2014-02-11          99575     0.00  United States          Austin        NaT
36   E04152         Adeline Huang               Controls Engineer      Engineering           Manufacturing  Female      Asian   34 2019-12-16          99989     0.00          China         Chengdu        NaT
37   E01628         Jackson Perry                  Vice President        Marketing  Research & Development    Male  Caucasian   27 2019-10-20         256420     0.30  United States         Phoenix        NaT
38   E04285         Riley Padilla             Technical Architect               IT           Manufacturing  Female     Latino   35 2013-05-15          78940     0.00  United States           Miami        NaT
39   E01417             Leah Pena            Enterprise Architect               IT               Corporate  Female     Latino   57 1994-01-03          82872     0.00         Brazil          Manaus        NaT
40   E01754              Owen Lam            Sr. Business Partner  Human Resources     Speciality Products    Male      Asian   30 2017-05-29          86317     0.00          China         Chengdu 2017-07-16
41   E03749        Kennedy Foster                         Manager        Marketing     Speciality Products  Female  Caucasian   53 2013-11-23         113135     0.05  United States          Austin        NaT
42   E03574            John Moore                  Vice President               IT     Speciality Products    Male  Caucasian   52 2005-11-08         199808     0.32  United States         Seattle        NaT
43   E04600            William Vu          Account Representative            Sales     Speciality Products    Male      Asian   37 2013-11-14          56037     0.00          China        Shanghai        NaT
44   E00586      Sadie Washington                      Sr. Manger        Marketing  Research & Development  Female  Caucasian   29 2019-05-24         122350     0.12  United States         Phoenix        NaT
45   E03538        Gabriel Holmes            Enterprise Architect               IT  Research & Development    Male  Caucasian   40 2010-11-04          92952     0.00  United States         Seattle        NaT
46   E02185           Wyatt Rojas        Computer Systems Manager               IT               Corporate    Male     Latino   32 2013-03-20          79921     0.05  United States          Austin        NaT
47   E03830           Eva Coleman                        Director               IT  Research & Development  Female      Black   37 2009-09-20         167199     0.20  United States         Seattle        NaT
48   E03720         Dominic Clark                Quality Engineer      Engineering  Research & Development    Male  Caucasian   52 2012-10-17          71476     0.00  United States         Phoenix        NaT
49   E03025        Lucy Alexander                        Director      Engineering           Manufacturing  Female  Caucasian   45 2014-10-29         189420     0.20  United States         Seattle        NaT
50   E04917  Everleigh Washington                    HRIS Analyst  Human Resources  Research & Development  Female  Caucasian   64 2001-10-20          64057     0.00  United States         Phoenix        NaT
51   E00415        Leilani Butler                      Analyst II        Marketing           Manufacturing  Female      Black   27 2021-09-21          68728     0.00  United States         Phoenix        NaT
52   E02862          Peyton Huang                      Sr. Manger               IT           Manufacturing  Female      Asian   25 2021-07-02         125633     0.11          China         Beijing        NaT
53   E04207        John Contreras                      Analyst II        Marketing           Manufacturing    Male     Latino   35 2011-05-15          66889     0.00  United States        Columbus        NaT
54   E02139              Rylee Yu                        Director       Accounting  Research & Development  Female      Asian   36 2015-09-29         178700     0.29  United States         Seattle        NaT
55   E01797           Piper Lewis                  Field Engineer      Engineering  Research & Development  Female  Caucasian   33 2018-12-22          83990     0.00  United States         Chicago        NaT
56   E01839      Stella Alexander             Automation Engineer      Engineering               Corporate  Female  Caucasian   52 2005-12-10         102043     0.00  United States         Chicago        NaT
57   E01633            Addison Do             Operations Engineer      Engineering           Manufacturing  Female      Asian   46 2001-05-30          90678     0.00  United States        Columbus        NaT
58   E01848          Zoey Jackson                Business Partner  Human Resources           Manufacturing  Female      Black   46 2008-08-21          59067     0.00  United States           Miami        NaT
59   E00716             John Chow                      Sr. Manger        Marketing  Research & Development    Male      Asian   45 2021-03-11         135062     0.15          China         Chengdu        NaT
60   E00699             Ava Ayala                      Sr. Manger               IT               Corporate  Female     Latino   55 2006-08-16         159044     0.10         Brazil          Manaus        NaT
61   E00502       Natalia Salazar                     Sr. Analyst       Accounting           Manufacturing  Female     Latino   44 2019-01-02          74691     0.00         Brazil          Manaus 2020-07-08
62   E04000       Skylar Carrillo             Engineering Manager      Engineering               Corporate  Female     Latino   44 2008-12-18          92753     0.13  United States          Austin 2021-06-24
63   E02112     Christian Sanders                  Vice President  Human Resources     Speciality Products    Male      Black   45 2013-08-07         236946     0.37  United States         Seattle        NaT
64   E03824      Penelope Coleman                         Analyst          Finance               Corporate  Female      Black   36 2021-08-27          48906     0.00  United States           Miami        NaT
65   E03906      Piper Richardson                     Sr. Analyst            Sales               Corporate  Female  Caucasian   38 2008-01-27          80024     0.00  United States        Columbus        NaT
66   E00436         Everly Walker                    HRIS Analyst  Human Resources     Speciality Products  Female  Caucasian   41 2009-10-23          54415     0.00  United States         Seattle 2014-01-22
67   E04798            Aurora Ali                         Manager        Marketing  Research & Development  Female      Asian   30 2016-04-24         120341     0.07  United States         Seattle        NaT
68   E01249     Penelope Guerrero                  Vice President               IT     Speciality Products  Female     Latino   43 2009-08-04         208415     0.35  United States         Seattle        NaT
69   E03349            Anna Mehta  Cloud Infrastructure Architect               IT     Speciality Products  Female      Asian   32 2020-01-05          78844     0.00  United States         Seattle        NaT
70   E02966        William Foster                  Field Engineer      Engineering           Manufacturing    Male  Caucasian   58 2002-05-23          76354     0.00  United States         Phoenix 2021-09-26
71   E01499            Jade Rojas                        Director          Finance     Speciality Products  Female     Latino   37 2019-01-28         165927     0.20  United States         Phoenix        NaT
72   E00105         Isla Espinoza                         Manager       Accounting     Speciality Products  Female     Latino   38 2021-11-16         109812     0.09         Brazil          Manaus        NaT
73   E00665             David Chu               Controls Engineer      Engineering               Corporate    Male      Asian   55 1998-09-03          86299     0.00  United States         Seattle        NaT
74   E00791        Thomas Padilla                  Vice President        Marketing  Research & Development    Male     Latino   57 2003-07-26         206624     0.40         Brazil       Sao Paulo        NaT
75   E01540         Miles Salazar                  IT Coordinator               IT           Manufacturing    Male     Latino   36 2010-12-23          53215     0.00         Brazil       Sao Paulo 2014-03-27
76   E04474             Mila Hong                   Test Engineer      Engineering  Research & Development  Female      Asian   30 2017-05-22          86858     0.00          China       Chongqing 2017-10-08
77   E03417         Benjamin Moua        Computer Systems Manager               IT           Manufacturing    Male      Asian   40 2007-07-02          93971     0.08          China       Chongqing        NaT
78   E00254        Samuel Morales                      Analyst II          Finance               Corporate    Male     Latino   34 2015-06-27          57008     0.00  United States         Phoenix        NaT
79   E02166             John Soto                      Sr. Manger          Finance           Manufacturing    Male     Latino   60 2015-09-23         141899     0.15  United States         Phoenix        NaT
80   E00935         Joseph Martin                      Analyst II        Marketing               Corporate    Male      Black   41 2016-09-13          64847     0.00  United States           Miami        NaT
81   E01525             Jose Ross             Engineering Manager      Engineering  Research & Development    Male  Caucasian   53 1992-04-08         116878     0.11  United States           Miami        NaT
82   E00386          Parker James                Quality Engineer      Engineering     Speciality Products    Male      Black   45 2005-02-05          70505     0.00  United States          Austin        NaT
83   E00416   Everleigh Fernandez                        Director      Engineering  Research & Development  Female     Latino   30 2016-05-22         189702     0.28         Brazil          Manaus 2020-12-21
84   E03383          Lincoln Hall                        Director       Accounting     Speciality Products    Male  Caucasian   26 2020-07-28         180664     0.27  United States         Chicago        NaT
85   E01516            Willow Mai                Business Partner  Human Resources           Manufacturing  Female      Asian   45 2003-12-17          48345     0.00          China         Chengdu        NaT
86   E01234            Jack Cheng                        Director  Human Resources           Manufacturing    Male      Asian   42 2014-01-16         152214     0.30          China         Beijing        NaT
87   E03440       Genesis Navarro  Cloud Infrastructure Architect               IT               Corporate  Female     Latino   41 2009-04-28          69803     0.00         Brazil          Manaus        NaT
88   E00431       Eliza Hernandez               Network Architect               IT               Corporate  Female     Latino   48 2019-07-04          76588     0.00         Brazil  Rio de Janerio        NaT
89   E01258        Gabriel Brooks                Network Engineer               IT           Manufacturing    Male  Caucasian   29 2018-12-10          84596     0.00  United States           Miami        NaT
90   E00440            Jack Huynh                         Manager        Marketing  Research & Development    Male      Asian   27 2018-09-25         114441     0.10          China       Chongqing 2019-12-22
91   E00595           Everly Chow                      Sr. Manger          Finance     Speciality Products  Female      Asian   33 2018-04-21         140402     0.15          China         Beijing        NaT
92   E00972        Amelia Salazar                      Analyst II          Finance               Corporate  Female     Latino   26 2019-04-23          59817     0.00         Brazil       Sao Paulo        NaT
93   E04562          Xavier Zheng          Account Representative            Sales           Manufacturing    Male      Asian   31 2017-07-22          55854     0.00  United States          Austin        NaT
94   E02802          Matthew Chau            Sr. Business Partner  Human Resources  Research & Development    Male      Asian   53 2002-11-16          95998     0.00  United States         Seattle        NaT

The number of rows returned is defined in pandas to see the maximum rows we can use  
**options.display.max_rows**

In [35]:
print(pd.options.display.max_rows)

60

In [36]:
pd.options.display.max_rows = 999   #Increase the maximum no. og rows to display entire data

## Exploring Data in Pandas

1. Head()
2. Tail()
3. info()
4. describe()
5. shape
6. dtypes

**Head()**: It returns the headers and specified no. of rows strating from the top.

_Note_: if the no. of rows are not specified, the head() method will return top 5 rows

In [65]:
data.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT

**Tail()**: It returns the headers and specified no. of rows strating from the bottom.
_Note_: If the no. of rows are not specified, the tail() method will return bottom 5 rowsws

In [66]:
data.tail()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

**Info()**: It provides a summary that include the datatypes of each column and non null values present

In [67]:
data.info()         #Summary of the dataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   int64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 109.5+ KB

**describe()**: method provides a quick overview of the numerical data in a DataFrame.

In [68]:
data.describe()         # Statistics Summary

,Age,Hire Date,Annual Salary,Bonus %,Exit Date
count,1000.000000,1000,1000.000000,1000.000000,85
mean,44.382000,2012-04-07 02:54:14.400000,113217.365000,0.088660,2016-11-02 18:04:14.117647104
min,25.000000,1992-01-09 00:00:00,40063.000000,0.000000,1994-12-18 00:00:00
25%,35.000000,2007-02-14 00:00:00,71430.250000,0.000000,2014-12-25 00:00:00
50%,45.000000,2014-02-15 12:00:00,96557.000000,0.000000,2019-05-23 00:00:00
75%,54.000000,2018-06-22 00:00:00,150782.250000,0.150000,2021-04-09 00:00:00
max,65.000000,2021-12-26 00:00:00,258498.000000,0.400000,2022-08-17 00:00:00
std,11.246981,NaN,53545.985644,0.117856,NaN

**dtypes:** An attribute of a DataFrame or Series, used to check data types of columns.

No brackets: Since it's an attribute, brackets are not required when accessing it.

In [69]:
# dtypes is attribute
data.dtypes            # Checking column dataTypes

EEID                     object
Full Name                object
Job Title                object
Department               object
Business Unit            object
Gender                   object
Ethnicity                object
Age                       int64
Hire Date        datetime64[ns]
Annual Salary             int64
Bonus %                 float64
Country                  object
City                     object
Exit Date        datetime64[ns]
dtype: object

**shape:** Returns a tuple representing the dimensions of the DataFrame (rows, columns).

In [70]:
data.shape            # Display the how many rows and column in a DataFrame

(1000, 14)

### How to save data in a spreadsheet.

to_* Methods: The to_* methods in pandas facilitate the export of data from a DataFrame or Series to various file formats.

to_excel() Method: Specifically, the to_excel() method is used to save data as an Excel file.

Customizations:

sheet_name Parameter:
This parameter allows users to define a custom name for the worksheet (e.g., sheet_name ='passengers'), overriding the default name of Sheet1.

index Parameter:
Setting (index=False) ensures that the row index labels are not included in the saved spreadsheet.

In [15]:
data.to_excel('ESD.xlsx', sheet_name = 'Details', index = False)   # Save the data into excel file
print('Successfully Saved')

Successfully Saved

### REMEMBER

Getting data in to pandas from many different file formats or data sources is supported by read_* functions.

Exporting data out of pandas is provided by different to_*methods.

The head/tail/info methods and the dtypes attribute are convenient for a first check.

_______________________________________________________________________________________________________________________________________________________

## ATTRIBUTES in Pandas

Attributes are characteristics or properties of a pandas object that return a value or information about that object without performing any actions. They don't need parentheses.

**Example:** .shape, .columns, .dtype

**_Series Attribute:_**
1. .index: Returns the index (labels) of the Series.
2. .values: Returns the underlying data as a NumPy array.
3. .dtype: Returns the data type of the elements in the Series.
4. .name: Returns or sets the name of the Series.

In [71]:
#1. .index
ser = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(ser.index)

#2. .values
ser = pd.Series([10, 20, 30])
print(ser.values)

#3. .dtypes
ser = pd.Series([10, 20, 30])
print(ser.dtype)

#4. .name
ser = pd.Series([10, 20, 30], name='my_series')
print(ser.name)

Index(['a', 'b', 'c'], dtype='object')
[10 20 30]
int64
my_series

**_DataFrame Attributes_**

1. .columns: Returns the labels of columns in the DataFrame.
2. .shape: Returns a tuple representing the dimensions of the DataFrame (rows, columns).
3. .dtypes: Returns the data types of each column in the DataFrame.
4. .size: Returns the number of elements (rows × columns) in the DataFrame.
5. .ndim: Returns the number of dimensions of the DataFrame (should always be 2).
6. .empty: Returns True if the DataFrame is empty, otherwise False.

In [72]:
import pandas as pd

#1. .columns
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.columns)

#2. .shape
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.shape)

#3. .dtypes
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.5, 5.5, 6.5]})
print(df.dtypes)

#4. .size
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.size)

#5. .ndim
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.ndim)

#6. .empty
df = pd.DataFrame({})
print(df.empty)

Index(['A', 'B'], dtype='object')
(3, 2)
A      int64
B    float64
dtype: object
6
2
True

Attribute |	Series | DataFrame | Description
------------------------------------------------------------------------------------------
.index	     ✅	        ✅      Labels of rows.
.values	     ✅	        ✅	     Data as NumPy array.
.dtype	     ✅	        ✅	     Data type of the Series or DataFrame columns.
.empty	     ✅	        ✅	     Check if object is empty.
.ndim	     ✅ (1) 	✅ (2)	 Number of dimensions (1 for Series, 2 for DataFrame).
.name	     ✅     	❌	     Name of the Series.
.size	     ✅      	✅	     Total number of elements.
.columns	 ❌     	✅	     Column labels of DataFrame.
.shape	     ❌	        ✅	     Tuple of DataFrame dimensions (rows, columns).
.dtypes      ❌     	✅	     Data types of DataFrame columns.
.axes	     ❌	        ✅	     List of row and column labels (index and columns).
_______________________________________________________________________________________________________________________________________________________

## How do I select specific columns from a DataFrame?


Selecting a Column: To select a single column from a DataFrame, use square brackets  [] along with the column name.

In [73]:
# Selecting Single column
data['Full Name']

0          Emily Davis
1        Theodore Dinh
2         Luna Sanders
3      Penelope Jordan
4            Austin Vo
            ...
995       Wesley Young
996       Lillian Khan
997        Oliver Yang
998        Lily Nguyen
999        Sofia Cheng
Name: Full Name, Length: 1000, dtype: object

__Returned Object:__ 
Each column in a DataFrame is represented as a Series. Therefore, when a single column is selected, the output is a pandas Series.

#### Selecting Multiple Columns:

To select multiple columns from a DataFrame, use a list of column names inside brackets [].

Bracket Explanation:
The inner brackets create a Python list of the column names, while the outer brackets select those columns from the DataFrame.

In [74]:
# Selecting Multiple Columns using []
data[['EEID','Full Name']]

       EEID        Full Name
0    E02387      Emily Davis
1    E04105    Theodore Dinh
2    E02572     Luna Sanders
3    E02832  Penelope Jordan
4    E01639        Austin Vo
..      ...              ...
995  E03094     Wesley Young
996  E01909     Lillian Khan
997  E04398      Oliver Yang
998  E02521      Lily Nguyen
999  E03545      Sofia Cheng

[1000 rows x 2 columns]

In [75]:
data[['EEID','Full Name']].shape

# The selection returned a DataFrame with 1000 rows and 2 columns. Remember, a DataFrame is 2-dimensional with both a row and column dimension.

(1000, 2)

#### How do I filter specific rows from a DataFrame?

In [76]:
# Create a dataFrame

emp = {
    'Name': ['Alice','Bob','charlie','Dev'],
    'Age': [20, 18, 22, 23],
    'Marks': [28, 48, 20, 35]
}

df = pd.DataFrame(emp)
df

      Name  Age  Marks
0    Alice   20     28
1      Bob   18     48
2  charlie   22     20
3      Dev   23     35

In [77]:
# Filtering rows where age is greater than 30:

df_filtered = df[df['Marks']>30]
print(df_filtered)

  Name  Age  Marks
1  Bob   18     48
3  Dev   23     35

_Note:_ When using multiple conditions in filtering with pandas, you need to enclose each condition in parentheses **()** and use logical operators like **& (AND), | (OR)**.

In [78]:
#  Filtering using multiple conditions:

df_filtered1 = df[(df['Age']>=20) & (df['Name']=='Alice')]
print(df_filtered1)

    Name  Age  Marks
0  Alice   20     28

**loc[ ]:** is used for label-based indexing in a DataFrame, allowing access to rows and columns by their labels.

Syntax: df.loc[row_labels, column_labels]

#### Correct way to select multiple columns

_Selecting Multiple Columns:_

If you want to select multiple columns ('Name' and 'City'), you need to provide a list for the column labels.

In [79]:
res = df.loc[2,['Name','Marks']]
res

Name     charlie
Marks         20
Name: 2, dtype: object

#### Selecting Rows:

Use a single label, a list of labels, or slices (e.g., df.loc[1] for the second row).

In [80]:
df.loc[2]

Name     charlie
Age           22
Marks         20
Name: 2, dtype: object

#### Combining Rows and Columns:

Access specific rows and columns together (e.g., df.loc[0:2, ['column1', 'column2']]).

In [81]:
df.loc[1:3,['Name','Age']]

      Name  Age
1      Bob   18
2  charlie   22
3      Dev   23

#### Selecting Columns:

Specify column labels (e.g., df.loc[:, 'column_name'] for all rows of a specific column).

In [82]:
df.loc[:,['Name']]             # It print all rows of Name Column

      Name
0    Alice
1      Bob
2  charlie
3      Dev

#### Boolean Indexing:

Filter rows based on conditions (e.g., df.loc[df['column_name'] > value]).

In [83]:
df.loc[df['Marks']>=30]

  Name  Age  Marks
1  Bob   18     48
3  Dev   23     35

#### When selecting specific rows and/or columns with loc or iloc, new values can be assigned to the selected data.

For example, to assign the name anonymous to the first 3 elements of the fourth column:

In [84]:
df.iloc[1:3, 1] = 'Wrong Data'
df

C:\Users\hp\AppData\Local\Temp\ipykernel_17764\3187554462.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Wrong Data' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[1:3, 1] = 'Wrong Data'

      Name         Age  Marks
0    Alice          20     28
1      Bob  Wrong Data     48
2  charlie  Wrong Data     20
3      Dev          23     35

### REMEMBER

- When selecting subsets of data, square brackets [] are used.

- Inside these brackets, you can use a single column/row label, a list of column/row labels, a slice of labels, a conditional expression or a colon.

- Select specific rows and/or columns using loc when using the row and column names.

- Select specific rows and/or columns using iloc when using the positions in the table.

- You can assign new values to a selection based on loc/iloc.

________________________________________________________________________________________________________________________________________________________